body {
    background-color: #282a36;
    margin-top: 75px;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #282a36;
    z-index: 1000;
}

.side-nav {
    position: fixed;
    top: 55px;
    height: calc(100vh - 60px);
    width: 60px;
    z-index: 900;
    background-color: #282a36;
    padding-top: 1rem;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.sidebar {
    position: fixed;
    top: 55px;
    left: -200px;
    height: calc(100vh - 60px);
    width: 240px;
    z-index: 800;
    background-color: #282a36;
    padding-top: 1rem;
    transition: all 0.1s ease;
    color: white;
    margin-top: 5px;
}

.sidebar.active {
    left: 60;
}

.sidebar ul.components {
    padding: 20px 0;
}

.sidebar ul.components li a {
    padding: 10px 15px;
    display: block;
    color: white;
}

.sidebar ul.components li a:hover {
    background-color: #495057;
    text-decoration: none;
}

.sidebar ul.components ul.nested li a {
    padding-left: 30px;
}

.folder-btn {
    color: #ffcc00;
    font-size: 20px
}

.file-item {
    color: white;
    font-size: 20px
}

.ide-card {
    height: calc(100vh - 55px);
    transition: all 0.1s ease;
    color: #ffcc00;
    background-color: #282a36;
    margin-left: 60px;
}

.sidebar.active + .ide-card {
    margin-left: 300px;
}



.terminal {
    background-color: black;
    overflow: auto;
    font-size: 20px;
    height: 100%;
    font-family: monospace;
    overflow: auto;
}

.prompt {
    color: green;
    padding: 5px;
}

.terminal-input {
    font-size: 20px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    caret-color: green;
    resize: vertical;
    flex-grow: 1;
}



