<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{current_project.project_name}}/{{file_name}} {% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ide.css' %}">
    <script src="{% static ide.js %}"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark border-bottom bg-dark">
    <div class="container-fluid">
        <div class="d-flex justify-content-center mx-auto folder-btn">
            <button class="btn btn-lg folder-btn" data-bs-toggle="modal" data-bs-target="#RenameModal" type="reset">
                <i class="bi bi-pencil"></i> {{current_project.project_name}}/{{file_name}}
            </button>
        </div>
    </div>
</nav>

<body>
<!-- project side-nav -->
<div class="side-nav shadow-end border-end border-dark bg-dark">
    <button type="button" id="sidebarCollapse" class="btn btn-dark mx-auto mb-4">
        <i class="bi bi-tree fs-2 text-light"></i>
    </button>

    <button type="button" class="btn btn-dark mx-auto mb-4" data-bs-toggle="modal" data-bs-target="#createDirModal">
        <i class="bi bi-folder2-open fs-2 text-light"></i>
    </button>

    <button type="button" class="btn btn-dark mx-auto mb-4">
        <i class="bi bi-download fs-2 text-light"></i>
    </button>

    <button class="btn btn-dark mx-auto mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
            aria-controls="offcanvasBottom">
        <i class="bi bi-terminal fs-2 text-light"></i>
    </button>

    <button type="button" class="btn btn-dark mx-auto mb-4">
        <i class="bi bi-github fs-2 text-light"></i>
    </button>
</div>

<!-- project tree --><!-- project tree -->
<form method="post" enctype="multipart/form-data" action="{% url 'project' %}"
      class="sidebar active shadow-end border-end border-dark" id="sidebar">
    {% csrf_token %}
    <ul>
        <!-- Project -->
        {% for node in project_tree %}
        {% if node.type == 'directory' %}
        <li>
            <button class="btn btn-sm folder-btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#{{node.name|slugify}}" aria-expanded="true">
                <i class="bi bi-folder-plus"></i><i class="bi bi-folder-minus d-none"></i> {{node.name}}
            </button>
            <ul class="collapse show" id="{{node.name|slugify}}">
                {% for child in node.children %}
                {% if child.type == 'directory' %}
                <li>
                    <button class="btn btn-sm folder-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#{{ child.name|slugify }}" aria-expanded="true">
                        <i class="bi bi-folder-plus"></i><i class="bi bi-folder-minus d-none"></i> {{child.name}}
                    </button>
                    <ul class="collapse show" id="{{ child.name|slugify }}">
                        {% for grandchild in child.children %}
                        {% if grandchild.type == 'file' %}
                        <li>
                            <input type="hidden" name="file_path" value="{{grandchild.path}}">
                            <button class="btn btn-sm file-item" name="open_file" value="{{grandchild.name}}"
                                    type="submit">
                                <i class="bi bi-file-earmark-code"></i> {{grandchild.name}}
                            </button>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% elif child.type == 'file' %}
                <li>
                    <input type="hidden" name="file_path" value="{{child.path}}">
                    <button class="btn btn-sm file-item" name="open_file" value="{{child.name}}" type="submit">
                        <i class="bi bi-file-earmark-code"></i> {{child.name}}
                    </button>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% elif node.type == 'file' %}
        <li>
            <input type="hidden" name="file_path" value="{{node.path}}">
            <button class="btn btn-sm file-item" name="open_file" value="{{node.name}}" type="submit">
                <i class="bi bi-file-earmark-code"></i> {{node.name}}
            </button>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</form>

<!--- This is the main CodeMirror IDE section including the nave buttons--->
<form method="post" enctype="multipart/form-data" action="{% url 'project' %}" class="card ide-card border-0">
    {% csrf_token %}
    <input type="hidden" id="selectedThemeInput" name="selected_theme" value="default">
    <input type="hidden" id="selectedSyntaxInput" name="selected_syntax" value="auto">
    <input type="hidden" name="file_path" value="{{file_path}}">
    <input type="hidden" name="file_name" value="{{file_name}}">
    <input type="hidden" name="project_id" value="{{current_project.id}}">

    <div class="card-header">
        <div class="hstack gap-3 align-middle">
            <div class="p-2">
                <button class="btn folder-btn" data-bs-toggle="modal" data-bs-target="#RenameModal" type="reset">
                    <i class="bi bi-pencil"></i> {{file_name}}
                </button>
            </div>
            <div class="vr"></div>
            <div class="p-2">
                <button class="btn file-item" name="save_file" type="submit">
                    <i class="bi bi-save"></i> Save
                </button>
            </div>
            <div class="p-2">
                <button class="btn file-item" name="delete" type="submit">
                    <i class="bi bi-trash"></i> Delete
                </button>
            </div>
            <!-- Add dropdown buttons -->
            <div class="p-2 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" id="themeDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Theme: <span id="currentTheme">Default</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="themeDropdown">
                        <li><a class="dropdown-item" onclick="changeTheme('default')">Light Mode</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('xq-light')">XQ Light</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('base16-light')">Base16 Light</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('eclipse')">Eclipse</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('3024-day')">3024 Day</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('solarized')">Solarized</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('paraiso-light')">Paraiso Light</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('mdn-like')">MDN Like</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('hopscotch')">Hopscotch</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('lucario')">Lucario</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('material')">Material</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('nord')">Nord</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('oceanic-next')">Oceanic Next</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('cobalt')">Cobalt</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('paraiso-dark')">Paraiso Dark</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('mbo')">MBO</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('panda-syntax')">Panda Syntax</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('monokai')">Monokai</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('seti')">Seti</a></li>
                        <li><a class="dropdown-item" onclick="changeTheme('tomorrow-night-bright')">Tomorrow Night
                            Bright</a></li>
                    </ul>
                </div>
            </div>
            <div class="p-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="syntaxDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Syntax Highlighting: <span id="currentSyntax">Auto Detect</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="syntaxDropdown">
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('autodetect')">Auto Detect</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('plain')">Plain Text</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('python')">Python</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('javascript')">JavaScript</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('html')">HTML</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('css')">CSS</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('java')">Java</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('c')">C</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('cpp')">CPP</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('php')">PHP</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('ruby')">Ruby</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('swift')">Swift</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('go')">Go</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('rust')">Rust</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeSyntax('typescript')">TypeScript</a></li>
                        <!-- Add more syntax highlighting options as needed -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <textarea name='file_contents' id="myTextarea" style="display: none;">{{file_content}}</textarea>
</form>
</body>

<!-- Modal for renaming file-->
<div class="modal fade modal-dark" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="renameModalLabel">Rename</h1>
            </div>
            <form method="post" enctype="multipart/form-data" action="{% url 'project' %}" class="modal-body">
                {% csrf_token %}
                <input type="text" name="new_file_name" value="{{file_name}}"
                       class="form-control bg-dark text-light border-secondary mb-4">
                <input type="hidden" name="file_path" value="{{file_path}}">
                <input type="hidden" name="file_contents" value="{{file_content}}">
                <input type="hidden" name="project_id" value="{{current_project.id}}">
                <button type="submit" name="rename_file" class="btn btn-primary">Save changes</button>
            </form>
        </div>
    </div>
</div>

<!-- Modal for opening a project -->
<div class="modal fade modal-dark" id="createDirModal" aria-labelledby="createDirModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="createDirModalLabel">Access an existing project.</h5>
            </div>
            <div class="modal-body overflow-auto">
                <ul class="list-group">
                    {% for project in all_projects %}
                    <li class="list-group-item bg-dark text-light" onclick="submitForm('{{ project.id }}')">
                        <form id="projectForm_{{ project.id }}" method="post" enctype="multipart/form-data" action="{% url 'project' %}">
                            {% csrf_token %}
                            <input type="hidden" name="project_id" value="{{ project.id }}">
                            <div class="hstack">
                                <div>
                                    <h5>{{ project.project_name }}</h5>
                                    <p><small>{{ project.project_description }}</small></p>
                                </div>
                                <button type="submit" name="open_project" class="btn btn-dark ms-auto">
                                    <i class="bi bi-folder2-open fs-2 text-light"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <h4>Or... </h4>
                <button type="button" class="btn btn-primary">Create A New Project</button>
            </div>
        </div>
    </div>
</div>

<!-- terminal -->
<div class="offcanvas offcanvas-bottom bg-black overflow-hidden" tabindex="-1" id="offcanvasBottom"
     aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-body">
        <div class="card terminal border">
            <div id="terminal" class="p-1 text-light">{{response}}</div>
            <form class="hstack" method="post" onsubmit="sendPrompt(); return false;">
                {% csrf_token %}
                <div class="prompt p-1">User$</div>
                <input name="terminalInput" class=" terminal-input bg-black border-0 text-light">
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- CodeMirror js and css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>

<!-- Here are all the links to the different syntax highlighting for CodeMirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/plain/plain.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/mode/multiplex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/css/css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/clike/clike.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/php/php.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/ruby/ruby.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/swift/swift.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/go/go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/rust/rust.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/typescript/typescript.min.js"></script>

<!-- Here are all the links to the different themes for CodeMirror -->
<!-- XQ Light -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/xq-light.min.css">
<!-- Base16 Light -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/base16-light.min.css">
<!-- Paraiso Light -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/paraiso-light.min.css">
<!-- MDN Like -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/mdn-like.min.css">
<!-- Tomorrow Night Bright -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/tomorrow-night-bright.min.css">
<!-- Hopscotch -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/hopscotch.min.css">
<!-- Lucario -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/lucario.min.css">
<!-- Solarized -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/solarized.min.css">
<!-- 3024 Day -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/3024-day.min.css">
<!-- Material -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/material.min.css">
<!-- Nord -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/nord.min.css">
<!-- Oceanic Next -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/oceanic-next.min.css">
<!-- Panda Syntax -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/panda-syntax.min.css">
<!-- Paraiso Dark -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/paraiso-dark.min.css">
<!-- Seti -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/seti.min.css">
<!-- Cobalt -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/cobalt.min.css">
<!-- Eclipse -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/eclipse.min.css">
<!-- MBO -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/mbo.min.css">
<!-- Monokai -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/monokai.min.css">


<script>
    var editor;

    function changeTheme(theme) {
        editor.setOption("theme", theme);
        document.getElementById('currentTheme').textContent = theme.charAt(0).toUpperCase() + theme.slice(1);
        document.getElementById('selectedThemeInput').value = theme;
    }

    function changeSyntax(mode) {
        editor.setOption("mode", mode);
        document.getElementById('currentSyntax').textContent = mode.charAt(0).toUpperCase() + mode.slice(1);
        document.getElementById('selectedSyntaxInput').value = mode;
    }

    document.addEventListener("DOMContentLoaded", function () {
        editor = CodeMirror.fromTextArea(document.getElementById("myTextarea"), {
            lineNumbers: true,
            mode: "autodetect", // Change mode to "autodetect" for auto-detection
            theme: "default",
            autoCloseBrackets: true,
            matchBrackets: true
        });
        editor.setSize(null, "100%");

        var initialTheme = "{{ current_project.selected_theme }}";
        var initialSyntax = "{{ current_project.selected_syntax }}";

        if (initialTheme !== "default") {
            changeTheme(initialTheme);
        }
        if (initialSyntax !== "auto") {
            changeSyntax(initialSyntax);
        }
    });

    document.getElementById("sidebarCollapse").addEventListener("click", function () {
        document.getElementById("sidebar").classList.toggle("active");
    });

    document.querySelectorAll('.collapse').forEach(function(collapse) {
        collapse.addEventListener('show.bs.collapse', function() {
            this.previousElementSibling.querySelector('.bi-folder-plus').classList.add('d-none');
            this.previousElementSibling.querySelector('.bi-folder-minus').classList.remove('d-none');
        });

        collapse.addEventListener('hide.bs.collapse', function() {
            this.previousElementSibling.querySelector('.bi-folder-plus').classList.remove('d-none');
            this.previousElementSibling.querySelector('.bi-folder-minus').classList.add('d-none');
        });
    });



    // ajax used to send and receive the terminal prompts and responses

    function sendPrompt() {
    var promptValue = document.querySelector('.terminal-input').value;

    var formData = new FormData();
    formData.append('prompt', promptValue);

    var terminalDiv = document.getElementById('terminal');
    terminalDiv.innerHTML += '<div><span class="prompt">User$</span> ' + promptValue + '</div>'; // Append input text

    if (promptValue.toLowerCase() === 'clear') {
        terminalDiv.innerHTML = ''; // Clear the terminal
        // Clear the input field after sending the prompt
        document.querySelector('.terminal-input').value = '';
        return; // Exit the function
    }

    fetch('', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token for Django
        }
    })
    .then(response => response.json())
    .then(data => {
        console.log(data); // Do something with the response
        // Append the response to the terminal UI
        terminalDiv.innerHTML += '<div><span class="prompt">User$</span> ' + data.response + '</div>';
        // Clear the input field after sending the prompt
        document.querySelector('.terminal-input').value = '';
    })
    .catch(error => console.error('Error:', error));
}

</script>
</html>
