:root {
    --bg-dark: #1e1e2f;
    --bg-darker: #151521;
    --text-light: #e4e4e7;
    --text-accent: #00c8ff;
    --btn-primary: #4caf50;
    --btn-secondary: #6c63ff;
    --btn-danger: #e74c3c;
}

  /* Styling for text */
  .title-text {
    color: #f8f9fa;
    font-size: 50px;
    font-weight: bold;
  }

  .main-text {
    color: #8b949e;
    font-size: 30px;
    font-weight: bold;
  }

.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the video is in the background */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark transparent overlay */
    pointer-events: none; /* Prevent blocking interactions */
}


.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: transparent;
    color: var(--text-accent);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #343a40;
    color: #c7c9cb;
    overflow-x: hidden;
}

.greeting {
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: -1;
    padding: 20px 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.main-content {
    position: relative;
    z-index: 1;
}

.section {
    margin-top: 45%;
    margin-bottom: 0;
    max-width: 100%;
}

@media (max-width: 768px) {
    .section {
        margin-top: 100%; /* Adjust as needed for small screens */
    }
}

.hero-section {
    background: linear-gradient(to bottom, #6c63ff 0.01%, #1e1e2f 0.5%);
    color: #fff;
    padding: 60px 20px;
    box-shadow: 0 0 30px rgba(108, 99, 255, 0.8);
}

.hero-card {
    box-shadow: 0 0 30px rgba(108, 99, 255, 0.8);
    background: linear-gradient(to bottom, #6c63ff 0.5%, #1e1e2f 90%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


