{% extends 'base.html' %}
{% block title %} {{ current_project.user.username}}/{{ current_project.project_name }} {% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'project.css' %}">
<script src="{% static 'project.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Main Content -->

<!-- Project Settings -->
<div class="mb-4">
    <div class="card shadow border-0">
        <div class="text-light m-4">
            <div class="d-flex flex-wrap justify-content-start">

                <h3 class="card-title mb-4">
                    <a href="{% url 'profile' current_project.user.username %}" class="card-title">
                        {{ current_project.user.username }}
                    </a>
                    /
                    <a href="{% url 'project' username=current_project.user.username project_id=current_project.id %}"
                       class="card-title">
                        {{ current_project.project_name }}
                    </a>
                </h3>
                <p class="text-light small ms-2">
                    {% if current_project.is_public %}
                    <span class="badge bg-primary">Public</span>
                    {% else %}
                    <span class="badge bg-danger">Private</span>
                    {% endif %}
                </p>
            </div>
            <div class="d-flex flex-wrap justify-content-start">
                <a href="{% url 'ide' username=current_project.user.username project_id=current_project.id %}"
                   class="btn btn-primary mx-1 mb-2">
                    Open IDE
                </a>
                <form method="post"
                      action="{% url 'ide' username=current_project.user.username project_id=current_project.id %}"
                      class="ms-1">
                    {% csrf_token %}
                    <input type="hidden" name="project_id" value="{{current_project.id}}">
                    <button type="submit" class="btn btn-secondary mx-1 mb-2" name="download_project">Download Project
                    </button>
                </form>

                {% if user.is_authenticated %}
                <form method="post"
                      action="{% url 'project' username=current_project.user.username project_id=current_project.id %}"
                      class="mx-1">
                    {% csrf_token %}
                    <button type="submit" name="toggle_like" class="btn btn-secondary mx-1 mb-2">
                        <i class="bi bi-star-fill"></i>
                        {% if user in current_project.liked_by.all %}
                        Starred {{ current_project.likes }}
                        {% else %}
                        Star {{ current_project.likes }}
                        {% endif %}
                    </button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-secondary mx-1 mb-2">
                    <i class="bi bi-star-fill"></i>
                    {% if user in current_project.liked_by.all %}
                    Starred {{ current_project.likes }}
                    {% else %}
                    Star {{ current_project.likes }}
                    {% endif %}
                </a>
                {% endif %}

                <!-- Settings dropdown -->
                {% if request.user == current_project.user %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle mx-1 mb-2" type="button" id="settingsDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear-fill"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="settingsDropdown">
                        <li>
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addCollaboratorModal">
                                Add Collaborator
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#assignTaskModal">
                                Assign Task
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#renameProjectModal">
                                Edit Project Details
                            </button>
                        </li>
                        <li>
                            <form method="post" action="" class="ms-1">
                                {% csrf_token %}
                                <button class="dropdown-item" name="delete" value="delete_project">Delete Project
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Collaborators Section -->
<div class="accordion mb-4" id="collaboratorsAccordion">
    <div class="accordion-item bg-transparent border-0">
        <h2 class="accordion-header" id="headingCollaborators">
            <button class="accordion-button bg-dark text-light shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCollaborators" aria-expanded="true" aria-controls="collapseCollaborators">
                Collaborators
            </button>
        </h2>
        <div id="collapseCollaborators" class="accordion-collapse collapse show" aria-labelledby="headingCollaborators" data-bs-parent="#collaboratorsAccordion">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent text-light d-flex align-items-center">
                        <img src="{{ current_project.user.profile_picture.url }}" alt="Profile"
                             class="profile-image rounded-circle me-2" style="width: 40px; height: 40px;">
                        <div class="d-flex justify-content-between w-100">
                            <a href="{% url 'profile' current_project.user.username %}"
                               class="card-title text-decoration-none text-light fs-5">
                                {{ current_project.user.username }}
                            </a>
                            <span class="text-light ms-2">(Owner)</span>
                        </div>
                    </li>
                    {% for collaborator in current_project.collaborators.all %}
                    <li class="list-group-item bg-transparent text-light d-flex align-items-center">
                        <img src="{{ collaborator.profile_picture.url }}" alt="Profile"
                             class="profile-image rounded-circle me-2" style="width: 40px; height: 40px;">
                        <div class="d-flex justify-content-between w-100">
                            <a href="{% url 'public_profile' collaborator.username %}"
                               class="card-title text-decoration-none text-light fs-5">
                                {{ collaborator.username }}
                            </a>
                            {% if request.user == current_project.user %}
                            <form method="post" class="m-0">
                                {% csrf_token %}
                                <input type="hidden" name="collaborator_id" value="{{ collaborator.id }}">
                                <button type="submit" name="remove_collaborator" class="btn btn-danger btn-sm">Remove
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item bg-transparent text-light">No collaborators added yet.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Project Tasks Section -->
<div class="accordion mb-4" id="tasksAccordion">
    <div class="accordion-item border-0">
        <h2 class="accordion-header" id="headingTasks">
            <button class="accordion-button bg-dark text-light shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTasks" aria-expanded="true" aria-controls="collapseTasks">
                Project Tasks
            </button>
        </h2>
        <div id="collapseTasks" class="accordion-collapse collapse show" aria-labelledby="headingTasks" data-bs-parent="#tasksAccordion">
            <div class="accordion-body">
                {% if tasks %}
                <ul class="list-group">
                    {% for task in tasks %}
                    <li class="list-group-item m-1" style="background-color: rgba(255, 255, 255, 0.1);">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <a href="#"
                               class="text-light"
                               data-bs-toggle="modal"
                               data-bs-target="#updateTaskModal"
                               data-task-id="{{ task.id }}"
                               data-task-title="{{ task.title }}"
                               data-task-description="{{ task.description }}"
                               data-task-status="{{ task.status }}">
                                <strong>{{ task.title }}</strong>
                            </a>
                            <span class="badge bg-secondary">{{ task.get_status_display }}</span>
                        </div>
                        <p class="mb-1 text-light">{{ task.description }}</p>
                        <div class="small text-light">
                            Assigned to: {{ task.assigned_to.username }} <br>
                            Assigned by: {{ task.assigned_by.username }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <div class="text-center">
                    <p class="text-light">No tasks have been assigned to this project yet.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- Project Description Section -->
<div class="accordion mb-4" id="descriptionAccordion">
    <div class="accordion-item border-0">
        <h2 class="card-header" id="headingDescription">
            <button class="accordion-button bg-dark text-light shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
                Project Description
            </button>
        </h2>
        <div id="collapseDescription" class="accordion-collapse collapse show" aria-labelledby="headingDescription" data-bs-parent="#descriptionAccordion">
            <div class="card-body">
                <p class="mb-0">{{ current_project.project_description }}</p>
            </div>
        </div>
    </div>
</div>


<!-- Project README.md -->
<div class="mb-4">
    <div class="card shadow border-0">
        <div class="card-header text-light">
            README.md
        </div>
        <div class="card-body text-light">
            <p class="mb-0">{{ readme_content|safe }}</p>
        </div>
    </div>
</div>

<!-- Assign Task Modal -->
<div class="modal fade" id="assignTaskModal" tabindex="-1" aria-labelledby="assignTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="assignTaskModalLabel">Assign Task</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="taskTitle" class="form-label">Task Title</label>
                        <input type="text" class="form-control bg-dark text-light" id="taskTitle" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="taskDescription" class="form-label">Task Description</label>
                        <textarea class="form-control bg-dark text-light" id="taskDescription" name="description"
                                  rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="taskAssignee" class="form-label">Assign To</label>
                        <select class="form-select bg-dark text-light" id="taskAssignee" name="assigned_to">
                            <option value="{{ current_project.user.id }}" selected>{{ current_project.user.username }}
                                (Owner)
                            </option>
                            {% for collaborator in current_project.collaborators.all %}
                            <option value="{{ collaborator.id }}">{{ collaborator.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="add_task" class="btn btn-secondary">Assign Task</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Collaborator Modal -->
<div class="modal fade" id="addCollaboratorModal" tabindex="-1" aria-labelledby="addCollaboratorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCollaboratorModalLabel">Add Collaborator</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addCollaboratorForm" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control bg-dark text-light" id="username" name="username"
                               required>
                    </div>
                    <button type="submit" name="add_collaborator" class="btn btn-primary">Add Collaborator</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Project Modal -->
<div class="modal fade" id="renameProjectModal" tabindex="-1" aria-labelledby="renameProjectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameProjectModalLabel">Edit Project Details</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form method="POST"
                  action="{% url 'project' username=current_project.user.username project_id=current_project.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="projectName" class="form-label">Project Name</label>
                        <input type="text" class="form-control bg-dark text-light" id="projectName" name="name"
                               value="{{ current_project.project_name }}">
                    </div>

                    <div class="mb-3">
                        <label for="projectDescription" class="form-label">Project Description</label>
                        <textarea class="form-control bg-dark text-light" id="projectDescription" name="description"
                                  rows="3">{{ current_project.project_description }}</textarea>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="projectVisibility" name="is_public"
                               {% if current_project.is_public %}checked{% endif %}>
                        <label class="form-check-label" for="projectVisibility">Public</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="edit_project_details" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- update task modal -->
{% if request.user == current_project.user %}
<div class="modal fade" id="updateTaskModal" tabindex="-1" aria-labelledby="updateTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateTaskModalLabel">Update Task</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateTaskForm" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" id="task_id">
                    <div class="mb-3">
                        <label for="task_title" class="form-label">Task Title</label>
                        <input type="text" class="form-control bg-dark text-light" id="task_title" name="task_title">
                    </div>
                    <div class="mb-3">
                        <label for="task_description" class="form-label">Description</label>
                        <textarea class="form-control bg-dark text-light" id="task_description"
                                  name="task_description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="task_status" class="form-label">Status</label>
                        <select class="form-select bg-dark text-light" id="task_status" name="task_status">
                            <option value="not_started">Not Started</option>
                            <option value="in_progress">In Progress</option>
                            <option value="completed">Completed</option>
                        </select>
                    </div>
                    <button type="submit" name="update_task" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

